Let's get Latttude ang Longitude from an address

<form action="/address_to_coordinates" method="post">

  <div>
    <label for="address_box">Address</label>
    <input id="address_box" name="query_address" placeholder="Enter an address" type="text">
  </div>

  <button>
    Look it up!
  </button>
</form>