<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

    <h1>WeatherText</h1>
    Providing customized text notifications for the weather you care about
    <hr>
    <a href = "/">Home</a> - <a href = "/user_sign_up">Sign Up</a> - <a href = "/edit_user_profile">Edit User</a> - <a href = "/modify_user">Modify User</a> - <a href = "/cancel_user_account">Delete User</a> - <a href = "/user_sign_in">Sign In</a> - <a href = "/user_sign_out">Sign Out</a>  

    <%= yield %>
  </body>
</html>
